<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}",
        "sameAs": [
            "http://www.facebook.com/{{site.facebookUsername}}",
            "https://twitter.com/{{site.twitterUsername}}",
            "https://www.instagram.com/{{site.instagramUsername}}/",
            "https://www.linkedin.com/in/{{site.linkedinUsername}}",
            "http://{{site.tumblrUrl}}.tumblr.com",
            "https://plus.google.com/u/0/+{{site.googleplusUsername}}",
            "https://www.youtube.com/{{site.youtubeUsername}}",
            "https://www.pinterest.cl/{{site.pinterestUsername}}",
            "https://www.flickr.com/photos/{{site.flickrUsername}}",
            "https://www.behance.net/{{site.behanceUsername}}",
            "https://www.goodreads.com/{{site.goodreadsUsername}}",
            "https://amazon.com/author/{{site.amazonUsername}}"
        ]
    }
</script>