<!-- Twitter / X Cards -->
<meta name="twitter:card"    content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author | default: site.twitter_username }}">
<meta name="twitter:title"   content="{{ page.title | default: site.title | escape }}">
<meta name="twitter:description" content="{{ page.summary | default: page.description | default: site.description | escape }}">
{% if page.image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% elsif site.title_image and site.title_image != "" %}
<meta name="twitter:image" content="{{ site.title_image }}">
{% endif %}
<!-- end Twitter / X Cards -->