<head>
    {% include head/redirect.html %}
    {% include head/meta.html %}
    {% seo %}

    {% if site.gtm_id and site.gtm_id != "" %}
        {% include head/google_tag_manager.html %}
    {% endif %}

    {% if site.google_analytics_id and site.google_analytics_id != "" %}
        {% include head/google_analytics.html %}
    {% endif %}

    {% if site.fb_pixel_id and site.fb_pixel_id != "" %}
        {% include head/fb_pixel.html %}
    {% endif %}

    {% if site.twitter_username and site.twitter_username != "" %}
        {% include head/twitter_card.html %}
    {% endif %}

    {% feed_meta %}
    {% include head/schema.html %}
    {% include head/css.html %}

    {% if site.animate_css %}
        {% include head/animatecss.html %}
    {% endif %}
</head>